
@{
    ViewBag.Title = "Send";
}

<h2>Отправка сообщения</h2>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Отправка сообщения</title>
</head>
<body>
    <div>
        <h3>Введите сообщение</h3>
        <form method="post" action="">
            
            <table>

                <tr>
                    <td><p>Введите ваше имя</p></td>
                    <td><input type="text" name="From" /> </td>
                </tr>                

                <tr>
                    <td><p>Введите сообщение </p></td>
                    <td><input type="text" name="Body" /> </td>
                </tr>

                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>

            </table>
        </form>
    </div>
</body>
</html>